$def with (title, authors, len_authors, genres, cur_genre, lang, is_images, urls, len_urls, is_tables, old_h2fb2, is_pre)

<br />
<table>
  <tr>
    <td>&nbsp;</td>
    <td><div style="position:relative; border: 1px solid #000000;">
        <center>
          <strong>Check description. If wrong fill in as you think fit.</strong>
        </center>
        <form method="get" action="">
          <table>
            <tr>
              <td>Title:</td>
              <td colspan="3"><input type="text" name="title" size="75" maxlength="256" value = '$title' /></td>
            </tr>
			

$for i in [0, 1, 2]:
	$if i < len_authors:
		<tr>
		  <td>Author $i:</td>
		  <td><input type="text" name="author_first_$i" size="25" maxlength="256" value = '$authors[i]["first"]'/>
			<br />
			<label style="font-size:x-small">first name</label></td>
		  <td><input type="text" name="author_middle_$i" size="25" maxlength="256" value = '$authors[i]["middle"]' />
			<br />
			<label style="font-size:x-small">middle name</label></td>
		  <td><input type="text" name="author_last_$i"  size="25" maxlength="256" value = '$authors[i]["last"]' />
			<br />
			<label style="font-size:x-small">last name</label></td>
		</tr>
	$else:
		<tr>
		  <td>Author $i:</td>
		  <td><input type="text" name="author_first_$i" size="25" maxlength="256" value = ''/>
			<br />
			<label style="font-size:x-small">first name</label></td>
		  <td><input type="text" name="author_middle_$i" size="25" maxlength="256" value = '' />
			<br />
			<label style="font-size:x-small">middle name</label></td>
		  <td><input type="text" name="author_last_$i"  size="25" maxlength="256" value = '' />
			<br />
			<label style="font-size:x-small">last name</label></td>
		</tr>
			
$if True:	
            <tr>
              <td>Genre</td>
              <td colspan="2">
                <select name="genre">
$for genre in genres:
    $if genre[0] == '':
        <optgroup label="$genre[1]">
    $elif genre[0] == cur_genre:
        <option value="$genre[0]" selected='selected'>$genre[1]</option>
    $else:
        <option value="$genre[0]">$genre[1]</option>

                </select>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>Language:</td>
              <td align="left"><input type="text" name="lang" size="2" maxlength="2" value = '$lang' /></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td align="right"><input type="submit" value = "Apply"/></td>
            </tr>
          </table>
          <input name="set_descr" type="hidden" value="True">
$for i in len_urls:
        <input name="url" type="hidden" value="$urls[i]">
		  
		  
$if is_images:
          <input name="img" type="hidden" value="True">
		  
$if is_tables:
          <input name="tab" type="hidden" value="True">

$if is_pre:
		  <input name="pre" type="hidden" value="True">

$if old_h2fb2:
          <input name="old_h2fb2" type="hidden" value="True">

        </form>
      </div></td>
    <td>&nbsp;</td>
  </tr>
</table>
