$def with (title, author_first, author_middle, author_last, genres, cur_genre, lang)

    
<div><input name="autodetect" id = "autodetect" type="checkbox" value="1" checked /> Autodetect</div>

<div>Title: <input class='descr' type="text" name="title" id="title" size="74" maxlength="256" value = '$title' /></div>

<table id = 'authors'></table>

<div>Genre: <select name="genre" id="genre" class='descr'>
$for genre in genres:
    $if genre[0] == '':
        <optgroup label="$genre[1]">
    $elif genre[0] == cur_genre:
        <option value="$genre[0]" selected='selected'>$genre[1]</option>
    $else:
        <option value="$genre[0]">$genre[1]</option>


</select>
</div>

<div>Language:<input class='descr' type="text" name="lang" id="lang" size="2" maxlength="2" value = '$lang' /></div>
<div><input type="submit" value = "Apply"/></div>