$def with (url, is_img, is_tab, doit)

	
	<table id = 'urls'>
      <tr>
        <td><strong>Url:</strong> </td>
        <td><input name="url" id="url" type="text" size="75" maxlength="256" value="$url" />
        </td>
		<td id = 'addurl'>[+]</td>
        <td id = 'remurl'>[-]</td>
      </tr>
	<table>
	
	<table id = 'params'>
      <tr>
        <td></td>
        <td>
$if is_img:
    <input name="img" id="img" type="checkbox" value="1" checked>
$else:
    <input name="img" id="img" type="checkbox" value="1">
	
with images
&nbsp;

$if is_tab:
    <input name="tab" id="tab" type="checkbox" value="1" checked>
$else:
    <input name="tab" id="tab" type="checkbox" value="1">
	
with tables

        </td>
		<td></td>
	  </tr>
	  <tr>
	    <td></td>
		<td><input name="old_h2fb2" id='old_h2fb2' type="checkbox" value="1"> use old h2fb2 engine</td>

$if doit:
    <input type="hidden" id="doit" value = "true"/>

		<td><input name="" type="submit" value=" Do "/></td>
      </tr>
    </table>
