$def with (form, descr)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Web2FB2</title>
<style type="text/css" media="all">
@import "misc/main.css";
</style>
<script type="text/javascript" src="misc/jquery.js"></script>
<script type="text/javascript" src="misc/my.js"></script>
</script>
</head>
<body>

<form>
<div class = 'form_div'>
  <div id = 'url'>
$:form    
  </div>
  <h5 class = 'tab' id = 'descr_tab'>► FB2 description</h5>
  <div id = 'descr_div'>
$:descr
  </div>
</div>

<div class = 'progres'></div>

<div class = 'error'></div>

<div class = 'result'></div>
</form>

</body>
</html>
