    <table>
      <tr>
        <td><strong>Url:</strong> </td>
        <td><input name="weburl" id="weburl" type="text" size="75" maxlength="256" value="http://" />
        </td>
        <td><input name="" type="submit" value=" Do "/>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><input name="img" id="img" type="checkbox" value="1" checked>
          with images</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><input name="yah2fb" id='yah2fb' type="checkbox" value="1">
          yet another h2fb engine</td>
        <td></td>
      </tr>
    </table>
