<form action="" method="get">
  <table>
    <tr>
      <td align="right"><strong>Enter url 1:</strong> </td>
      <td><input name="url" type="text" size="50" maxlength="256" value="http://" />
      </td>
      <td></td>
    </tr>
    <tr>
      <td align="right"><strong>Enter url 2:</strong> </td>
      <td><input name="url" type="text" size="50" maxlength="256" value="http://" />
      </td>
      <td></td>
    </tr>
	<tr>
      <td align="right"><strong>Enter url 3:</strong> </td>
      <td><input name="url" type="text" size="50" maxlength="256" value="http://" />
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><input name="img" type="checkbox" value="1" checked> with images</td>
      <td></td>
    </tr>
	<tr>
      <td></td>
      <td><input name="tab" type="checkbox" value="1"> with tables (dont work with "old h2fb engine") </td>
      <td></td>
    </tr>
	<tr>
      <td></td>
      <td><input name= "pre" type="checkbox" value="1" > with &lt;code&gt; tag (not сompatible with old FB readers) </td>
      <td></td>
    </tr>
	<tr>
	<td></td>
	<td><input name="old_h2fb2" type="checkbox" value="1"> use old h2fb2 engine</td>
	<td><input name="" type="submit" /></td>
	</tr>
  </table>
</form>
