<form action="" method="get">
  <table>
    <tr>
      <td align="right"><strong>Enter url 1:</strong> </td>
      <td><input name="url" type="text" size="50" maxlength="256" value="http://" />
      </td>
      <td></td>
    </tr>
    <tr>
      <td align="right"><strong>Enter url 2:</strong> </td>
      <td><input name="url" type="text" size="50" maxlength="256" value="http://" />
      </td>
      <td></td>
    </tr>
	<tr>
      <td align="right"><strong>Enter url 3:</strong> </td>
      <td><input name="url" type="text" size="50" maxlength="256" value="http://" />
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><input name="img" type="checkbox" value="1" checked>
        with images</td>
      <td><input name="" type="submit" /></td>
    </tr>
  </table>
</form>
